.todoWrapper {
  margin-bottom: 20px;
  padding: 20px;
  max-width: 340px;
  width: 100%;
  background-color: #59b4d1;
  border-radius: 20px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.nonEditable {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.editable {
  display: flex;
  flex-direction: column;
}